[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

blessings = "*"
pyxdg = "*"
requests = "*"
sqlalchemy = "*"


[dev-packages]

# Syntactic tools are to be run using pre-commit
coverage = "*"
coveralls = "*"
pre-commit = "*"
nose = "*"
